# Libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import pickle

# Data Import

In [2]:
df_purchase = pd.read_csv('purchase data.csv')

# Data Exploration

In [3]:
df_purchase.head()

,ID,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,...,Promotion_3,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,200000001,1,0,0,0,0,0,1.59,1.87,2.01,...,0,0,0,0,0,47,1,110866,1,0
1,200000001,11,0,0,0,0,0,1.51,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0
2,200000001,12,0,0,0,0,0,1.51,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0
3,200000001,16,0,0,0,0,0,1.52,1.89,1.98,...,0,0,0,0,0,47,1,110866,1,0
4,200000001,18,0,0,0,0,0,1.52,1.89,1.99,...,0,0,0,0,0,47,1,110866,1,0

In [4]:
df_purchase.isnull().sum()

ID                   0
Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

## Data preprocessing is an essential step.

As there seems to be no missing data we will move on to the next step.

What we already did:

Segmentation data

1 - Standardize

2 - PCA (we reduced it down to 3 components)

3 - K-Means PCA Clustering

Purchase data

1 - Standardize

2 - PCA

3 - K-Means PCA Clustering

# Data segmentation

## Import segmentation model

In [6]:
scaler = pickle.load(open("scaler.pickle", "rb"))

In [7]:
pca = pickle.load(open("pca.pickle", "rb"))

In [8]:
kmeans_pca = pickle.load(open("kmeans_pca.pickle", "rb"))

## Standardization

In [10]:
features = df_purchase[['Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation', 'Settlement size' ]]
df_purchase_segm_std = scaler.transform(features)

C:\Users\grant\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

## PCA

In [11]:
df_purchase_segm_pca = pca.transform(df_purchase_segm_std)

## K-means PCA

In [19]:
purchase_segm_kmeans_pca = kmeans_pca.predict(df_purchase_segm_std)

ValueError: Incorrect number of features. Got 7 features, expected 3

In [17]:
df_purchase_predictors = df_purchase.copy()

In [18]:
df_purchase_predictors['Segment'] = purchase_segm_kmeans_pca

NameError: name 'purchase_segm_kmeans_pca' is not defined